<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supan.vshare.dao.OperationMapper">
  <resultMap id="BaseResultMap" type="com.supan.vshare.model.Operation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="typeId" jdbcType="INTEGER" property="typeid" />
  </resultMap>
</mapper>